{%extends "base_template.html" %}
{% load static %}
{% load staticfiles %}
{% load notification_tags %}


{% load accounting_filters %}
{% load presentation_filters %}
{% load groups_filters %}
{% load agenda_filters %}

{% block active_agenda %} active{% endblock %}
{% block active_groups %} active{% endblock %}
{% block active_friends %} active{% endblock %}

{% block content %}




<div class="container-fluid" style="margin-top: 0.97rem">

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <div class="row">

          <div class="col-3" style="text-align: center">
            <a href="{% url 'users:page' loggedin_user.username %}">
              <div>
                <img src={% static "avatar.jpg" %} class="rounded-circle img-fluid">
                <h3 class=""> {{username|default:""}} {{ user }} </h3>
              </div>
            </a>
          </div>

          <div class="col">
            <h2>
              {% if balance >= 0 %}
              <span class="text-success">+{{ balance }}</span>
              {% else %}
              <span class="text-danger">{{ balance }}</span>
              {% endif %}
              <sub>
                {% if balance_plus != 0 and balance_minus != 0 %}
                ( <span class="text-success">+{{ balance_plus }}</span>
                | <span class="text-danger">{{ balance_minus }}</span> )
                {% endif %}
                <a href=#>details</a>
              </sub>
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-header" style="line-height: 40%"><a href="{% url 'friends:friends' %}">Friends</a></div>
            <div class="card-body" style="text-align: center; padding: 0.75rem">

              <div class="row">
                {% for user in friends %}

                {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:3 %}
              </div>
              <div class="row">
                {% endif %}

                <div class="col-4" style="padding: 5px">
                  <a href="{% url 'users:page' user.username %}" style="font-size: normal">
                    <div><img src={% static "avatar.jpg" %} class="rounded-circle img-fluid">
                      <p><small>{{ user }}</small></p>
                    </div>
                  </a>
                </div>

                {% endfor %}
              </div>

            </div>
          </div>
        </div>

        <div class="col-8">
          <div class="card">
            <div class="card-header" style="line-height: 40%">Latest news</div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                {% for tr,amount,type,entity in last_transactions %}
                <li class="list-group-item">
              <!-- Change here the code + add currency
                 {% if amount >= 0 %}
                  <span class="text-success">+{{ amount }}€</span>
                  {% else %}
                  <span class="text-danger">{{ amount }}€</span>
                  {% endif %} -->
                  {{ tr|display_transaction }}
                  {% if type == 'event' %}
                  for {{ entity|display_event_logo }}
                  {% elif type == 'group' %}
                  for {{ entity|display_group_logo }}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-3">
      <div>
        {% if events_invitations %}
        <h4>Events invitations</h4>
        <ul class="list-group list-group-flush">
          {% for event in events_invitations %}
          <li class="list-group-item">{{ event|display_event_logo }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if events_will_attend %}
        <h4>Upcoming events</h4>
        <ul class="list-group list-group-flush">
          {% for event in events_will_attend %}
          <li class="list-group-item">{{ event|display_event_logo }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if friendship_requests %}
        <h4>Pending friendship requests <i class="fas fa-user-plus"></i></h4>
        <ul class="list-group list-group-flush">
          {% for req in friendship_requests %}
          <li class="list-group-item">{{ req.from_user|display_user }}</li>
          {% endfor %}
        </ul>
        {% endif %}




        <!--
    <ul class="list-group list-group-flush">
      <li class="list-group-item">You are invited to <a href=#>this event</a></li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    -->

      </div>
    </div>
  </div>
</div>

</div>



{% endblock %}
