{%extends "base_template_groups.html" %}

{% block content %}

<h2>Group creator</h2>

<form action="{% if new %}{% url 'groups:new-group' %}{% else %}{% url 'groups:edit-group' ide %}{% endif  %}" method="post">
  {{ group_form.media }}
  {% csrf_token %}
  {{ group_form.as_p }}
  {% if not new %} {{ members_form.as_p }} {% endif %}
  {{ admins_form.as_p }}
  <input type="button" class="btn btn-primary" value="Back" onclick="history.back()">
  <input type="submit" class="btn btn-primary" value="Save">
</form>


{% endblock %}
