# This file is for listing all necessary libs

# Django: here we list django related packages
Django==2.1.5

# General part: here we list general packages
pytest==3.9.1
hypothesis==3.82.1

django-friendship==1.8.0

# To diqplay mini maps
#django-treasuremap==0.2.6

#To use glpk
swiglpk==4.65.0

#To use heroku
gunicorn==19.9.0
django-heroku==0.3.1
whitenoise==4.1.2

#To use numpy
numpy==1.15.4

django-money

#for objects permissions
django-guardian==1.4.9

#to use context variables as java script parameters
django-jsonify==0.3.0

#To scrape the web
beautifulsoup4==4.7.1
lxml==4.3.0

selenium
