# This file is for listing all necessary libs

# Django: here we list django related packages
Django==2.1.2

# General part: here we list general packages
pytest==3.9.1
hypothesis==3.82.1

django-friendship==1.8.0

# To diqplay mini maps
#django-treasuremap==0.2.6

#To use glpk
swiglpk==4.65.0

