{%extends "base_template_agenda.html" %}
{% load agenda_filters %}
{% load jsonify %}

{% block content %}


<!-- "/agenda/event?v={{ event.id }}" -->



<h2>Your Agenda</h2>

You can <a href="/agenda/calendar.ics?username={{ username }}">download your agenda (ICS)</a> or suscribe to it.
To suscribe, go in your calendar manager and choose to suscribe to the URL <a href="{{ request.build_absolute_uri }}calendar.ics?username={{ username }}">{{ request.build_absolute_uri }}calendar.ics?username={{ username }}</a>.

<br><br>

<a href="{% url 'new-event' %}">create a new event <i class="far fa-calendar-plus"></i></a>

<br>



<div id="gridContainer"></div>

<script>
  $(document).ready(function() {
    $('#gridContainer').fullCalendar({
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      header: {
        left: 'listYear month,agendaWeek,agendaDay',
        center: 'title',
        right: 'prev,next today',
      },
      events: {{ events|jsonify }},
      eventRender: function(eventObj, $el) {
           $el.popover({
             title: eventObj.title,
             content: eventObj.description,
             trigger: 'hover',
             placement: 'top',
             container: 'body'
           });
         },
    });
  });

</script>

<style>
  #gridContainer {
    margin: 0 auto;
  }
</style>

{% endblock %}
