{%extends "base_template_agenda.html" %}

{% block content %}  


<form>
  <input type="button" value="Back" class="btn btn-primary" onclick="history.back()">
</form>


{% if is_admin %}
<a class="btn btn-primary" href="{% url 'edit-event' ide=event.id %}">edit <i class="fas fa-edit"></i></a>
<!-- <span class="glyphicon glyphicon-pencil"></span> -->
{% endif %}

<form action="{% url 'event' ide=event.id %}" method="post">
  {% csrf_token %}
  {% if can_accept_invite %}
  You are invited to this event
  <button type="submit" class="btn btn-primary"  name="accept_invite">
  Accept invite <i class="far fa-calendar-check"></i></button>
  {% endif %}
  
  {% if can_cancel_acceptance %}
  You are enlisted to this event
  <button type="submit" class="btn btn-primary"  name="cancel_acceptance">
    Cancel <i class="fas fa-times-circle"></i></button>
  {% endif %} 
</form>


<h1>{{ event.name }}</h1>
<p>
  <b>
    From: {{ event.date_time }}<br>
    {{ event.time|default:"" }}
  </b>
  <br><br>
  <b>
    To: {{ event.date_time_end }}<br>
    {{ event.time_end|default:"" }}
  </b>

</p>

<p>{{ event.description|default:"<i>no description provided</i>" }}</p>



<p>
  <h3>Invited</h3>
  <ul>
    {% for user,come in invited %}
    <li><a href="/users/{{ user.username }}/">{{ user.username }}</a>
      {% if come %}<i> - is comming</i> {% endif %}
    </li>
    {% endfor %}
  </ul>
</p>

<p>
  <h4>Admin</h4>
  {% for user in admin %}
  <a href="/users/{{ user.username }}/">{{ user.username }}</a>
  {% endfor %}
</p>

{% endblock %}
