{%extends "base_template.html" %}

<!-- DateField as in the admin interface -->
{% load i18n %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>
{% endblock %}


{% block content %}

<h2>Event creator</h2>

<form action="{% url 'new-event' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <div class="form-group">
    {{ form.date.label_tag }}
    {% render_field form.date class="vDateField" %}
    {{ form.date.errors }}
  </div>
  
  <div class="form-group">
    {{ form.time.label_tag }}
    {% render_field form.time class="vTimeField" %}
    {{ form.time.errors }}     
  </div>
  
  <input type="submit" value="Submit">
</form>


{% endblock %}



{% block footer_js %}
<script>
  var django = django || {};
  django.jQuery = $;
</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
{{ form.media }}
{% endblock %}
