{%extends "base_template_friends.html" %}

{% block content %}

{% if p_invites %}
<h3>Pending invitations</h3>
<ul class="list-group">
  {% for user in p_invites %}
  <li class="list-group-item"><a href="{% url 'users:page' user.username %}">{{ user.username }} <i class="fas fa-user-plus"></i></a></li>
  {% endfor %}
</ul>
{% endif %}

{% if friends %}
<h3>Friends</h3>
<ul class="list-group">
  {% for user in friends %}
  <li class="list-group-item"><a href="{% url 'users:page' user.username %}">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}


{% if s_invites %}
<h3>Invited</h3>
<ul class="list-group">
  {% for user in s_invites %}
  <li class="list-group-item"><a href="{% url 'users:page' user.username %}">{{ user.username }} <i class="fas fa-user-clock"></i></a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
