{%extends "base_template.html" %}

{% block content %}

<!-- Research Bar -->
<form id="searchform" action="{% url 'user-search' %}" method="get" accept-charset="utf-8">
  <button class="searchbutton" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>


<a href="/agenda/">my agenda</a>


<h2>Research : {{ query }}</h2>


{% if users %}
<h3>Users</h3>
<ul>
  {% for user in users %}
  <li><a href="/users/{{ user.username }}/">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if p_invites %}
<h3>Pending invites</h3>
<ul>
  {% for user in p_invites %}
  <li><a href="/users/{{ user.username }}/">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if friends %}
<h3>Friends</h3>
<ul>
  {% for user in friends %}
  <li><a href="/users/{{ user.username }}/">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if s_invites %}
<h3>Invited</h3>
<ul>
  {% for user in s_invites %}
  <li><a href="/users/{{ user.username }}/">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
