{%extends base_template %}
{% load presentation_filters %}
{% load agenda_filters %}
{% load groups_filters %}

{% block content %}



<h2>{{ transaction.motive }}</h2>

<h3>{{ transaction.amount }}</h3>

<p>
  <b>
    {{ transaction.date }}
  </b>
</p>

<p>
  <b>payer : </b>
  {{ transaction.payer|display_user }}
</p>

{% if form.non_form_errors %}
      <div class="alert alert-danger">{{form.non_form_errors}}</div>
    {% endif %}

<form action="{% url 'accounting:transaction-details' id  %}" , method="POST">

  {% csrf_token %}
  {{form.management_form}}
  <ul>
    {% for user, form in transactions_forms %}
    <li>{{ user|display_user }}
      {% for field in form %}
       {{ field }}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  <input type="submit" class="btn btn-primary" value="Save">
</form>

<p>
  {% if type == "event" %}
  This transaction was made for the event 
  {{ entity|display_event_logo }}
  {% elif type == "group" %}
  This transaction was made for the group
  {{ entity|display_group_logo }}
  {% else %}
  {% endif %}
</p>

{% endblock %}
